.avatar, .skeleton {
    display: inline-block;
    background-color: var(--clr-black-10);
}

.avatar {
    border-radius: 12px;
}

.skeleton {
    border-radius: 50%;
}

.avatar_small, .skeleton_small {
    width: 32px;
    height: 32px;
}

.avatar_medium, .skeleton_medium {
    width: 48px;
    height: 48px;
}

.avatar_large, .skeleton_large {
    width: 60px;
    height: 60px;
}

.avatar_extraLarge, .skeleton_extraLarge{
    width: 170px;
    height: 170px;
}