.nav {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 62px;
  padding: 18px 32px 48px;
  z-index: 100;
  background-color: var(--clr-secondary-1);
  overflow-y: auto;
  transition: .3s width;
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav:hover .gift {
  padding: 16px;
}
