.form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.form > * + * {
  margin-top: 22px;
}

.form button {
  align-self: center;
  margin-top: 48px;
}

.recover {
  align-self: end;
  margin-top: 4px;
  color: var(--clr-primary-100);
}

.recover:hover {
  text-decoration: underline;
}

.login {
  margin-top: 48px;
}

.login a {
  color: var(--clr-primary-100);
}

.login a:hover {
  text-decoration: underline;
}