* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, iframe {
  max-width: 100%;
  height: auto;
}

header, footer, section, article {
  margin: 0;
}

html {
  font-family: var(--ff-secondary);
  font-size: var(--fs-p1);
  line-height: 1.5;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}