.status {
    display: inline-block;
    padding: 4px 11px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
}

.Active, .Completed {
    background-color: #DEEDE8;
    color: #519C66;
}

.In-Progress, .Published {
    background-color: #E4E8FD;
    color: var(--clr-primary-100);
}

.Pending, .Unpublished {
    background-color: var(--clr-secondary-30);
    color: var(--clr-black-100);
}