.button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: var(--clr-black-50);
    border: 1px solid var(--clr-black-50);
    border-radius: 4px;
    font-size: var(--fs-l2);
    font-weight: 400;
    line-height: 13.31px;
    padding: 6.5px 8px;
    background: none;
    cursor: pointer;
}

.button:disabled {
    opacity: .6;
}
